@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: #475835;
  overflow: hidden;
}

.con {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1920px;
  height: 100px;
  z-index: 10;
}

.site-wrap {
  width: 1920px;
  height: 1160px;
  position: relative;
}

.site-wrap>.Main_image {
  background-image: url(https://i.postimg.cc/RZFXcNMg/Rectangle-20.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1032px;
}

/* 메인페이지 : 한글text */
.site-wrap>.Main_text {
  font-family: 'S-CoreDream-6Bold';
  color: #fef3dc;
  font-size: 30px;
  margin-top: 260px;
  margin-left: 243px;
}

.site-wrap>.Main_text>.txt2 {
  margin-left: 68px;
}

.site-wrap>.Text_image>img {
  margin-left: 250px;
  margin-top: 100px;
}

/* 메인페이지 : Text 정렬 */
.btn {
  left: 125px;
  top: 80px;
}

/* 메인페이지 : Portfolio */
.btn-1 {
  position: absolute;
  top: 410px;
  left: 420px;
  cursor: pointer;
  width: 400px;
  z-index: 1;
}

.btn-2 {
  position: absolute;
  left: 120px;
  top: 60px;
  z-index: 1;
}

/* 메인페이지 : text_Portfolio */
.btn-1>p {
  position: absolute;
  font-size: 1.5rem;
  top: 83px;
  left: -28px;
  color: #fef3dc;
  transition: 0.5s;
  font-family: 'Fira Sans';
}

.btn-1>p:hover {
  font-size: 1.55rem;
  transition: transform 0.5s;
}

/* 메인페이지 배경 : text_About */
.btn-2>p {
  position: absolute;
  font-size: 1.5rem;
  top: 433px;
  left: 650px;
  color: #fef3dc;
  font-family: 'Fira Sans';
}

.btn-2>p:hover {
  font-size: 1.55rem;
  transition: transform 0.5s;
}

/* 메인페이지 : arw_Portfolio */
.btn-1>.arw {
  position: absolute;
  top: 92px;
  left: -130px;
  background-position: 0 0;
  transition: all 0.5s;
  width: 86px;
  height: 18px;
  background: url(https://i.postimg.cc/fW2C80wQ/Union.png);
}

/* 메인페이지 : arw_About */
.btn-2>.arw {
  position: absolute;
  top: 442px;
  left: 547px;
  background-position: 0 0;
  transition: all 0.5s;
  width: 86px;
  height: 18px;
  background: url(https://i.postimg.cc/fW2C80wQ/Union.png);
}

/* 메인페이지 : 오버시 arw_Portfolio */
.btn a:hover>.btn-1>.arw {
  background-position: -87px 0;
}

/* 메인페이지 : 오버시 arw_About */
.btn a:hover>.btn-2>.arw {
  background-position: -86px 0;
}

/* 메인페이지 : circle_Portfolio */
.btn-1>.circle {
  width: 110px;
  height: 110px;
  border-width: 2px;
  border-color: #fef3dc;
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  top: 47px;
  left: -190px;
}

/* 메인페이지 : circle_About */
.btn-2>.circle {
  width: 110px;
  height: 110px;
  border-width: 2px;
  border-color: #fef3dc;
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  top: 398px;
  left: 490px;
}

.site-wrap>.Text_image {
  top: 480px;
}

/* 햄버거메뉴바_텍스트 정렬 시작 */
.menu-wrap>li>a {
  color: #475835;
  font-family: 'Fira Sans';
  font-size: 40px;
}

.menu-wrap>li:hover>a {
  color: #ffb600;
}

.sm-wrapper {
  margin-top: -530px;
}

.sm-wrapper>.left>.text-img {
  margin-left: 20px;
}

.sm-wrapper>.left>.menu-wrap {
  margin-top: 225px;
}

/* 햄버거메뉴바_텍스트 정렬 끝 */

/* 팝업 시작 */
.popup {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 3;
}

.popup.active {
  visibility: visible;
  opacity: 1;
}

/* 팝업_배경 시작 */
.popup__content {
  background-color: #fef3dc;
  width: 900px;
  height: 574px;
  transform: translateX(-3%);
  transition: transform 0.5s;
}

.popup.active .popup__content {
  transform: translateX(0);
}

/* 팝업_배경 끝 */

/* 팝업 닫기 버튼 시작 */
.popup__btn-close::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #475835;
  border-radius: 5px;
  transition: box-shadow 0.2s;
  z-index: 1;
}

.popup__btn-close:hover::after {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* 팝업 닫기 버튼 끝 */

html[class*="popup-"][class*="-actived"],
html[class*="popup-"][class*="-actived"]>body {
  overflow: hidden;
}

/* 토글 팝업 시작 */
.btn-toggle-popup-1 {
  color: #fef3dc;
}

.btn-toggle-popup-1.active {
  font-weight: bold;
  text-shadow: 0 0 1px rgba(0, 0, 0.5);
  z-index: 100;
  position: relative;
}

/* 토글 팝업 끝 */

/* 팝업_우측 이미지 시작 */
.popup-1 .image-1 {
  position: relative;
  left: 600px;
  bottom: 50px;
  opacity: 0;
  transition: opacity 1s 1s, left 1s 1s;
}

.popup-1.active .image-1 {
  left: 500px;
  opacity: 1;
}

/* 팝업_우측 이미지 끝 */

/* 팝업 끝 */